.photo-gallery {
    display: flex;
    flex-wrap: wrap;
   gap: 45px;
   margin-top: 70px;
   margin-bottom: 70px;
}

.photo img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s ease;
    border: 1px solid rgba(185, 185, 185, 0.541)
}

.photo:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
